.lasagrastyle {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #bf0000;
	
	-moz-border-radius-bottomleft:8px;
	-webkit-border-bottom-left-radius:8px;
	border-bottom-left-radius:8px;
	
	-moz-border-radius-bottomright:8px;
	-webkit-border-bottom-right-radius:8px;
	border-bottom-right-radius:8px;
	
	-moz-border-radius-topright:8px;
	-webkit-border-top-right-radius:8px;
	border-top-right-radius:8px;
	
	-moz-border-radius-topleft:8px;
	-webkit-border-top-left-radius:8px;
	border-top-left-radius:8px;
}.lasagrastyle table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	margin:0px;padding:0px;
}.lasagrastyle tr:last-child td:last-child {
	-moz-border-radius-bottomright:8px;
	-webkit-border-bottom-right-radius:8px;
	border-bottom-right-radius:8px;
}
.lasagrastyle table tr:first-child td:first-child {
	-moz-border-radius-topleft:8px;
	-webkit-border-top-left-radius:8px;
	border-top-left-radius:8px;
}
.lasagrastyle table tr:first-child td:last-child {
	-moz-border-radius-topright:8px;
	-webkit-border-top-right-radius:8px;
	border-top-right-radius:8px;
}.lasagrastyle tr:last-child td:first-child{
	-moz-border-radius-bottomleft:8px;
	-webkit-border-bottom-left-radius:8px;
	border-bottom-left-radius:8px;
}.lasagrastyle tr:hover td{
	background-color:#ffaaaa;
		

}
.lasagrastyle td{
	vertical-align:middle;
	
	background-color:#ffffff;

	border:1px solid #bf0000;
	border-width:0px 1px 1px 0px;
	text-align:right;
	padding:4px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.lasagrastyle tr:last-child td{
	border-width:0px 1px 0px 0px;
}.lasagrastyle tr td:last-child{
	border-width:0px 0px 1px 0px;
}.lasagrastyle tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.lasagrastyle tr:first-child td{
		background:-o-linear-gradient(bottom, #ff5656 5%, #ff5656 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5656), color-stop(1, #ff5656) );
	background:-moz-linear-gradient( center top, #ff5656 5%, #ff5656 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5656", endColorstr="#ff5656");	background: -o-linear-gradient(top,#ff5656,ff5656);

	background-color:#ff5656;
	border:0px solid #bf0000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}
.lasagrastyle tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ff5656 5%, #ff5656 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5656), color-stop(1, #ff5656) );
	background:-moz-linear-gradient( center top, #ff5656 5%, #ff5656 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5656", endColorstr="#ff5656");	background: -o-linear-gradient(top,#ff5656,ff5656);

	background-color:#ff5656;
}
.lasagrastyle tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.lasagrastyle tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
